#page-enrol-index img.activatebadge {
    padding-bottom: 3px;
}

#page-enrol-index .badge-issueinfo {
    color: green;
}

#page-admin-enrol-ibobenrol-about .about-box {
    margin-top: 50px;
}

#page-admin-enrol-ibobenrol-about .about-text,
#page-admin-enrol-ibobenrol-about .donation-text {
    margin-bottom: 12px;
}

#page-admin-enrol-ibobenrol-about .donation-button {
    margin-bottom: 8px;
}

#page-enrol-index .badge-name {
    margin-left: 4px;
}
